jasypt:
    encryptor:
        algorithm: PBEWithMD5AndDES
        password: superkey

database: mysql

spring:
    cloud:
        config:
            server:
                bootstrap: false
            namespace: default
            enabled: true
            fail-fast: false 
            name: Cloud
            profile: dev, cloud, mysql
            label: master
        gcp:
            project-id: ${DEVSHELL_PROJECT_ID:qwiklabs-gcp-b3ddd98154b93257}
            credentials:
                location: classpath:credentials.json
            sql:
                enabled: true
                database-type: mysql
                database-name: marketplace
                instance-connection-name: ${DEVSHELL_PROJECT_ID:qwiklabs-gcp-b3ddd98154b93257}:us-central1:mysqlcontainer 